@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: 'Lato', sans-serif;
  margin-bottom: 40px;
}
.navbar {
  background-color: #e6eeff !important;
}
.card {
  cursor: pointer;
}
.card-header {
  background-color: #e6eeff;
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}